body {
  font-family: 'Josefin Sans', sans-serif;
  color: tomato;
  background-color: lightcyan;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  font-weight: bold;
}

main {
  text-align: center;
}

a {
  color: tomato;
}

nav {
  /* this just messes the opacity of the whole thing */
  /*
  background-color: black;
  opacity: 0.5; */

  background-color: rgb(0, 0, 0, 0.5);
}